#page-local-ace-user .useranalytics {
    width: 100%;
    position: relative;
}

#page-local-ace-user .useranalytics .usergraph .chart-table {
    display: none;
}

.chart-table {
    padding: 20px;
}

.chart-area .chart-table .chart-output-htmltable caption {
    white-space: unset;
}

#page-local-ace-index .courseanalytics {
    width: 100%;
    position: relative;
}

#page-local-ace-index .courseanalytics .dougnut {
    width: 100%;
    float: left;
}

@media only screen and (min-width: 800px) {
    #page-local-ace-index .courseanalytics .dougnut {
        width: 50%;
    }
}

#page-local-ace-index .courseanalytics .linegraph {
    margin-left: 0;
}

@media only screen and (min-width: 800px) {
    #page-local-ace-index .courseanalytics .linegraph {
        margin-left: 50%;
    }
}

#page-local-ace-index .predictions {
    width: 100%;
    position: relative;
    zoom: 0.8;
}

#page-local-ace-index .predictions .coursedropout {
    float: left;
    padding-right: 20px;
    flex-grow: 2;
}

#page-local-ace-index .predictions .generaltable {
    width: 100%;
}

#page-local-ace-index .generaltable tbody .col-xs-8 {
    padding: 0;
}

#page-local-ace-index .predictions .generaltable td {
    vertical-align: middle;
}

#page-local-ace-index .generaltable .d-flex {
    display: table-row;
}

#page-local-ace-index .coursedropout {
    padding: 30px 20px;
    margin: 10px;
    border: 2px solid #5b9d39;
}

#page-local-ace-index .coursedropout .mb-2 {
    color: #fff;
    background-color: #5b9d39;
    margin: -32px -20px;
    padding: 30px 20px;
    text-align: left;
}

#page-local-ace-index .noaccesssincestart .timecreated {
    display: none;
}

#page-local-ace-index .norecentaccess,
#page-local-ace-index .noaccesssincestart {
    padding: 30px 20px;
    margin: 10px;
    border: 2px solid #e8e8e8;
}

#page-local-ace-index .norecentaccess .mb-2,
#page-local-ace-index .noaccesssincestart .mb-2 {
    background-color: #e8e8e8;
    margin: -32px -20px;
    padding: 30px 20px;
    text-align: left;
}

#page-local-ace-user .footertext {
    margin-left: 0;
    margin-top: 40px;
}

#page-local-ace-index .headingdescription {
    padding: 25px 0 40px;
}

#page-local-ace-index h2 {
    text-align: center;
}

#page-local-ace-index .norecentaccess h2 {
    text-align: left;
}

/* graph tabs */
.useranalytics .nav-tabs {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0;
}

.useranalytics .nav-tabs .nav-item {
    margin-bottom: 0;
}

.useranalytics .nav-tabs .nav-link.active,
.useranalytics .nav-tabs .nav-item.show .nav-link {
    color: #5cb85b;
    background-color: #fff;
    border-color: #5cb85b;
    border-bottom: 3px solid #5cb85b;
}

.useranalytics .nav-tabs .nav-link:hover,
.useranalytics .nav-tabs .nav-link:focus {
    border-color: #373a3c;
}

.useranalytics .nav-tabs .nav-link {
    border: 0;
    border-bottom: 3px solid #e6e6e6;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .6px;
    color: #373a3c;
    transition: .5s ease;
    padding: .5rem 7rem .5rem .5rem;
}

.useranalytics .nav {
    padding-left: 50px;
}

.courseanalytics .legend {
    text-align: center;
}

.courseanalytics .legend .legendbox {
    padding-left: 30px;
}

.courseanalytics .legend .legendtext {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 0.875em;
}

.useranalytics .legend {
    text-align: center;
}

.useranalytics .legend .legendbox {
    padding-left: 30px;
}

.useranalytics .legend .legendtext {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 0.875em;
}

.local_ace-slim-modal .modal-dialog {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
