{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ace/teacher_course_engagement_chart

    Template for the teacher course engagement chart page

    Example context (json):
    {
        "colourteachercoursehistory": "#CEE9CE"
    }
}}
<div id="page-local-ace-index">
    <div class="courseanalytics">
        <div class="d-flex">
            <!-- Chart -->
            <div style="flex: auto;" class="px-2">
                {{> local_ace/engagement_chart }}
            </div>
            <!-- Settings sidebar -->
            <div style="flex: auto; max-width: 30%" class="px-2">
                {{> local_ace/chart_filters }}
                <div id="course-filter-wrap" style="display: none;">
                    <div class="form-group">
                        <button class="btn btn-secondary" id="course-filter">{{#str}}coursefilter, local_ace{{/str}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>